body {
  font-family: sans-serif;
}

h1,
h2 {
  display: block;
  margin: 0 auto;
  text-align: center;
  line-height: 1.5;
  width: 600px;
  border-radius: 30px;
  background-image: linear-gradient(bisque, teal);
}

button {
  display: block;
  margin: 30px auto;
  padding: 10px;
  width: 150px;
  color: teal;
  border: 1px solid teal;
  background-color: white;
  border-radius: 25px;
  font-size: 14px;
  box-shadow: 5px 5px 5px lightgrey;
  transition: all 15ms ease-in;
}

button:active {
  position: relative;
  right: -5px;
  bottom: -5px;
  box-shadow: 5px 5px 5px white;
  color: white;
  background-color: teal;
}

.special {
  color: red;
  font-size: 46px;
  border: 1px solid teal;
  border-radius: 10px;
  width: 15%;
  padding: 0 20px;
  background-image: linear-gradient(yellow 30%, lightblue 80%);
}
